.userpage {
  background-color: #dfcccc;
  padding: 20px 40px;
  height: 100vh;
  width: 100%;
}

/* Header */

.userpage__header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header__title {
  font-size: 30px;
  font-weight: 700;
}

.header__NavBtns {
  font-size: 20px;
  color: rgb(136, 10, 136);
  border: 1px solid rgb(214, 140, 214);
  border-radius: 3px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px 1px rgba(214, 140, 214, 0.3);
  transition: 0.4s;
}

.header__NavBtns:hover {
  background-color: rgb(136, 10, 136);
  color: #fff;
  box-shadow: 0 0 10px 1px rgba(214, 140, 214, 0.6);
}

.disabled {
  background-color: initial;
  color: #c42828;
  border: 1px solid #c42828;
  cursor: not-allowed;
  pointer-events: none;
}

/* Info */

.userpage__info {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.7;
}

.info__contacts {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 5px;
}

.userpage__returnBtn {
  left: 15px;
}
