.welcomepage {
  position: relative;
  display: flex;
  height: 100vh;
}

.contentblock {
  background-color: #fcf5f5;
  flex: 1 1 43%;
  display: flex;
  flex-direction: column;
  padding: 200px 0px 0px 100px;
}

.contentblock__logo {
  padding-bottom: 45px;
}

.contentblock__title {
  color: rgb(90, 90, 90);
  font-weight: 600;
  font-size: 35px;
  padding-bottom: 10px;
}

.contentblock__text {
  font-weight: 600;
  font-size: 40px;
}

.imageblock {
  flex: 1 1 57%;
}

.imageblock img {
  object-fit: cover;
  height: 100%;
}
